#btnAutoPageColConfig {
	list-style-image:url('chrome://autopagecolor/skin/autopagecolor16.png');
}
#apc-btn-toolbar {
	list-style-image:url('chrome://autopagecolor/skin/autopagecolor24.png');
}
toolbar[iconsize="small"] #apc-btn-toolbar {
	list-style-image:url('chrome://autopagecolor/skin/autopagecolor16.png');
}
#apc-btn-toolbar[scheme="0"] {
	list-style-image:url('chrome://autopagecolor/skin/offmode.png');
}
toolbar[iconsize="small"] #apc-btn-toolbar[scheme="0"] {
	list-style-image:url('chrome://autopagecolor/skin/offmode16.png');
}
#apc-btn-toolbar[scheme="1"] {
	list-style-image:url('chrome://autopagecolor/skin/daymode24.png');
}
toolbar[iconsize="small"] #apc-btn-toolbar[scheme="1"] {
	list-style-image:url('chrome://autopagecolor/skin/daymode16.png');
}
#apc-btn-toolbar[scheme="2"] {
	list-style-image:url('chrome://autopagecolor/skin/nightmode24.png');
}
toolbar[iconsize="small"] #apc-btn-toolbar[scheme="2"] {
	list-style-image:url('chrome://autopagecolor/skin/nightmode16.png');
}
